<%- include('components/top.ejs') %>
</head>

<body>
  <header class="container-xl">
      <div class="row">
          <div class="col-sm-6">
              <h2><b>CSV</b> to HarperDB</h2>
          </div>

          <div class="col-sm-6">
            <a href="#addCsv" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Upload CSV</span></a>
          </div>
      </div>
  </header>
  <div class="container-xl">
      <div class="table-responsive">
          <br><br>
          <div class="table-wrapper">
              
              <table class="table table-striped table-hover">
                <% if(records.length > 0) { %>
                  <% records.forEach(row => { %>
                  <tbody>
                    <tr>
                      <% for (let data in row ) { %>
                        <% if (data !== "__createdtime__" && data !== "__updatedtime__") {%>
                          <td><%= row[data] %></td>
                        <%}%>
                      <%}%>
                    </tr>
                      <%})%>
                    <% } else { %>
                    <tr>
                      <td>No data found</td>
                    </tr>
                  <% } %>
                  </tbody>
              </table>
          </div>
      </div>        
  </div>

  <!-- Upload CSV file -->
  <div id="addCsv" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload CSV</h4>
        </div>

        <form id="csvUpload" action="/upload" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
              <label for="file">Upload file</label>
              <input type="file" id="csvFile" class="form-control" accept=".csv" required />
            </div>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel" />
            <button type="submit" class="btn btn-success">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
<%- include('./components/bottom.ejs') %>